body{
    background: linear-gradient(100deg, #1E90FF, #FFF8DC);
}
.parrafo1{
    text-align: center;
    color: #000;
    background: #0e6cc5;
}
.parrafo2{
    text-align: center;
    color: #000;
    background: #0e6cc5;
    padding: 10 10px;
}
.parrafo3{
    text-align: center;
    color: #000;
    background: #0e6cc5;
    padding: 10 10px;
}
.parrafo4{
    text-align: center;
    color: #000;
    background: #0e6cc5;
    padding: 10 10px;
}
.imagen{
    margin: 10px 480px;
}
.Tip1{
    text-align: center;
    color: #000;
    background: #0e6cc5;
    padding: 10 10px;
}
.Tip2{
    text-align: center;
    color: #000;
    background: #0e6cc5;
    padding: 10 10px;
}
.Tip3{
    text-align: center;
    color: #000;
    background: #0e6cc5;
    padding: 10 10px;
}
.Adoptar{
    text-align: center;
    color: #000;
    background: #0e6cc5;
    padding: 10 10px;
}
.Tip4{
    text-align: center;
    color: #000;
    background: #0e6cc5;
    padding: 10 10px;
}
.Tip5{
    text-align: center;
    color: #000;
    background: #0e6cc5;
    padding: 10 10px;
}